@model PresenileNotes.Web.Models.HomeModel
@{
    ViewData["Title"] = "DeletedWorkspaces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-remove font-dark"></i>
                            <span class="caption-subject bold uppercase">Deleted Workspaces</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a href="@Url.Action("Settings","Home")" class="btn sbold green"> Back <i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle">Workspace Name</th>
                                    <th style="vertical-align: middle">Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.Workspaces)
                                    {
                                        <tr class="odd gradeX">
                                            <td style="vertical-align: middle"> @item.Name </td>
                                            <td style="vertical-align: middle; align-items:center;">
                                                @if (item.IsDeleted)
                                                {
                                                    <span class="label label-sm label-danger"> Deleted </span>
                                                }
                                                @if (!item.IsDeleted)
                                                {
                                                    <span class="label label-sm label-success"> Active </span>
                                                }
                                            </td>
                                            <td style="vertical-align: middle">
                                                <a href="@Url.Action("UnDeleteWorkspace","Home",new { id = item.Id })" class="btn btn-outline btn-circle dark btn-sm green">
                                                    <i class="fa fa-save"></i> Un Delete Workspace
                                                </a>

                                                <a href="javascript:;" class="btn btn-outline btn-circle dark btn-sm red" id="removeWorkspace" name="@item.Id">
                                                    <i class="fa fa-remove"></i> Remove Workspace
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
@section Scripts{
<script type="text/javascript">
     $(document).on("click", "#removeWorkspace", async function (e) {
            var workspaceId = $(e.target).attr('name');
            Swal.fire({
              title: 'Are you sure?',
              text: "All your notes and categories will be deleted with workspace. You can't get back.",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.value) {
                    $.ajax({
                    url: '../../Home/RemoveWorkspace',
                    type: 'POST',
                    dataType: 'json',
                    data: { workspaceId: workspaceId },
                    success: function (data)
                    {
                    Swal.fire({
                        type: 'success',
                        title: 'OK',
                        text:'Workspace, categories and notes was deleted.'})
                    setTimeout(function () 
                       { window.location.href = data; },2000);
                    }
                    });
                }
            })
        });
</script>

 }

